*{
    margin: 0;
    padding: 0;
}
/* To reset the default the margin and padding so that we don't get confused
*/

/* styling the link globally */
a{
    text-decoration:none;
    color: #000;
}
a:hover{
    color: red;

}
a:active{
    color: green;

}
/*a:visited{
    color: black;
}
*/
body{
    background-color:#258383;
    color: rgb(0, 0, 0);
    /*font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight: normal;
    font:normal Arial;
    */
    font: normal 18px Arial, Helvetica, sans-serif;
    /* Same as above */
    line-height: 1.6em;
    

}
.container{
    width: 80%;
    margin: auto;
}
.button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border:none;
}
.button:hover{
    background:red;
    color: #fff;
}
.clr{
    clear: both;
}
.box-1{

    background-color:#333;
    margin:0;
    color:#fff;
    border: 2px red solid;
    /*same as above
    border-right: 2px red solid;
    border-left: 2px red solid;
    border-top: 2px red solid;
    border-bottom: 2px red solid;
    border: 5px 5px red soid;
    */
    padding-left: 3px;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style:dotted;
    padding:20px;/* short form for pading-top, padding-right,padding-bottom,padding-left
    */
    margin: 20px 0;/* 20px for top and bottom, 0 for left and right */
}
.box-1 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration:underline;
    text-transform: uppercase; 
    letter-spacing: 0em;
    word-spacing: 0em;
}
.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}
.categories{
    border: 1px #ccc solid;
    border-radius: 15px;
    padding: 20px;
}
.categories h2{
    text-align:center;
}
.categories ul{
    padding: 0;
    list-style-type:square;
    list-style: none;
}
.categories li{
    padding-bottom: 6px;
    border-bottom:dotted 1px #333;
    /*list-style-image: url('../images/image1.jpg')
    here correct path of image and small image size is really necessary*/

}
.my-form{
    padding: 20px;
}
.my-form.form-group{
    padding-bottom:15px;
}
.my-form label{
    display: block;

}
.my-form [type="text"], .my-form textarea{
    padding: 8px;
    width: 100%
}
/*we can create new class called button so that it can be reuse again when it needs*/
/*.my-form input[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border:none;
    */
    

.block{
    float:left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;

}
#main-block{
    float: left;
    width: 70%;
    padding:15px;
    box-sizing: border-box;
}
#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding:15px;
    box-sizing: border-box;
}
.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative; /* relative position is required if we use absolute positioning*/
    background-image: url('../images/image1.jpg');  /*.. is use to go outside of the folder(css folder for our case) to use the image */
    background-position:100px 200px; /* using  the image repeat so that we should use background-repeat:no repeat;*/
    background-position:center center;
}
.p-box h1{
    position:absolute;
    top: 100px;
    left: 200px;


}
.p-box h2{
    position: absolute;
    bottom: 40px;
    right:100px;
}
.fix-me{
    position: fixed;
    top:400px;
}

.sudoclass{
    margin-top: 10px;
}
.sudoclass li:first-child{
    background: rebeccapurple;/* we don't need the background-color instead we can use the background to change background color*/
}
.sudoclass li:last-child{
    background: #333
}
.sudoclass li:nth-child(4){
    background:yellow;

}
.sudoclass li:nth-child(odd){
    background:brown;

}