body{
    background: #333;
}
.box{
    background: #fff;
    width: 300px;
    height:300px;
    position:relative;
    margin: auto;
    top:200px;
    transition-property: background, border-radius, transform;
    transition-duration:2s 3s;/*3s is  for the border 
    transition-delay: 2s 1s;
    */
    
    transition-timing-function: ease-in;
}
.box:hover{
    background:red;
    border-radius: 50%;
    transform:rotateY(180deg);
}
